/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 992px) and (max-width: 1280px) {
  div.cart-collaterals ul.products li.product {
    float: left;
    margin-left: 30px;
    position: relative;
    width: 160px;
  }
  .coupon input[type="text"] {
    width: 100px;
  }
  input[type="submit"], button[type="submit"] {
    padding: 11px 15px;
  }
  .col-1, .col-2 {
    width: 293px;
  }


}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .user-menu, .header-right ul.list-inline {
    text-align: center;
  }
  .mainmenu-area ul.navbar-nav li a {
    font-size: 14px;
    padding: 15px 10px;
  }
  .single-promo {margin-bottom: 30px}
  .single-product-widget, .footer-about-us, .footer-menu {
    margin-bottom: 60px;
  }


  .product-widget-area .zigzag-bottom {
    bottom: -50px;
    height: 100px;
  }
  .product-widget-area {
    padding-bottom: 90px;
  }

  .footer-top-area .zigzag-bottom {
    bottom: -153px;
    height: 200px;
  }
  .footer-top-area {
    padding: 35px 0 125px;
  }
  div.cart-collaterals ul.products li.product {
    width: 190px;
  }

  .col-1, .col-2 {
    width: 345px;
  }

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

  .user-menu, .header-right ul.list-inline {
    text-align: center;
  }
  .logo h1 {
    font-size: 30px;
    margin: 20px 0;
    text-align: center;
  }
  .shopping-item {
    float: none;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
  }
  .navbar-header {
    text-align: center;
  }

  .navbar-toggle {
    border-color: #fff;
    float: none;
    margin: 10px auto;
  }
  .navbar-toggle .icon-bar { background: none repeat scroll 0 0 #fff }
  .navbar-collapse.collapse.in {
    background: none repeat scroll 0 0 #1abc9c;
    position: relative;
    z-index: 99;
  }
  .mainmenu-area ul.navbar-nav li a {
    padding: 15px;
  }
  .mainmenu-area {position: relative !important}
  .slide-text {
    font-size: 16px;
  }
  .slide-text h2 {
    font-size: 30px;
  }
  .readmore {
    font-size: 16px;
    padding: 8px 20px;
  }
  .single-promo {
    margin-bottom: 30px;
  }
  .section-title {
    font-size: 35px;
  }


  .product-widget-area .zigzag-bottom {
    bottom: -50px;
    height: 100px;
  }
  .product-widget-area {
    padding-bottom: 90px;
  }

  .footer-top-area .zigzag-bottom {
    bottom: -153px;
    height: 200px;
  }
  .footer-top-area {
    padding: 35px 0 125px;
  }

  .single-product-widget, .footer-about-us, .footer-menu {
    margin-bottom: 60px;
  }

  .product-wid-title {
    font-size: 25px;
  }

  .related-products-wrapper .owl-nav {
    left: -15px;
    position: relative;
    right: inherit;
    top: 15px;
  }
  div.cart-collaterals ul.products {
    margin: 0;
  }
  div.cart-collaterals ul.products li.product {
    margin-bottom: 30px;
    margin-left: 0;
    width: 100%;
  }
  div.cart-collaterals ul.products li.product img {width: 100%}

  .product-bit-title h2 {
    font-size: 35px;
    padding: 40px 0;
  }
  .col2-set {
    margin-left: 0;
  }
  .col-1, .col-2 {
    float: none;
    margin-left: 0;
    width: inherit;
  }


  /* Special */

  table.shop_table th, table.shop_table td {
    font-size: 12px;
    padding: 5px;
  }
  td.product-thumbnail img {
    width: 30px;
  }

  div.quantity input.plus, div.quantity input.minus {
    display: none;
  }
  table.shop_table th {
    font-size: 12px;
  }
  div.coupon input[type="text"] {
    width: 100px;
  }
  .coupon {margin-bottom: 10px}
  .cross-sells {
    float: none;
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
  }
  .cart_totals, .cart-collaterals .shipping_calculator {
    float: none;
    margin-bottom: 40px;
    width: 100%;
  }


}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {



}