.floatleft {
    float: left
}

li {
    list-style: none;
    text-align: center;
    background: none;
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0px solid
}

img {
    max-width: 100%;
    /*width: 500px;*/
    height: 253px;
    /*height: auto;*/
}

.right {
    display: none;
}

.fix {
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlyot supported by any browser */
}

body {
    font-family: 'Titillium Web', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlyot supported by any browser */
}

.header-area {
    background: none repeat scroll 0 0 #f4f4f4;
}

.header-area a {
    color: #888;
}

.user-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.user-menu li {
    display: inline-block;
}

.user-menu li a {
    display: block;
    font-size: 13px;
    margin-right: 5px;
    padding: 10px;
}

.user-menu li a i.fa {
    margin-right: 5px;
}

.header-right ul.list-inline {
    margin: 0;
    text-align: right;
}

.header-right ul.list-inline li a {
    display: block;
    padding: 9px;
}

.header-right ul.list-inline li ul a {
    padding: 5px 15px;
}

.header-right ul.list-inline li ul {
    border: medium none;
    border-radius: 0;
    left: 50%;
    margin-left: -50px;
    min-width: 100px;
    text-align: center;
}

.mainmenu-area {
    background: none repeat scroll 0 0 #1abc9c;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    width: 100%;
    z-index: 5;
    position: fixed;
    top: 0;
}

.logo h1 {
    font-size: 40px;
    margin: 40px 0;
    font-weight: 400;
}

.logo h1 a {
    color: #999;
}

.logo h1 a:hover {
    text-decoration: none;
    opacity: .7
}

.logo h1 a span {
    color: #1abc9c;
}

/*.shopping-item {*/
/*border: 1px solid #ddd;*/
/*float: right;*/
/*font-size: 18px;*/
/*margin-top: 40px;*/
/*padding: 10px;*/
/*position: relative;*/
/*}*/
.shopping-item {
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.shopping-item .login, .register {
    cursor: pointer;
}

.shopping-item a {
    color: #666;
}

.cart-amunt {
    color: #1abc9c;
    font-weight: 700;
}

.product-count {
    background: none repeat scroll 0 0 #1abc9c;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}

.shopping-item i.fa {
    margin-left: 15px;
}

.shopping-item:hover {
    background: none repeat scroll 0 0 #1abc9c;
    border-color: #1abc9c;
}

.shopping-item:hover a {
    color: #fff;
    text-decoration: none
}

.shopping-item:hover .cart-amunt {
    color: #fff;
}

.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #000;
}

.mainmenu-area ul.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
}

.mainmenu-area ul.navbar-nav li a:hover {
    background: black;
}

.copyrights {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

/*.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {*/
/*background: #222*/
/*}*/

.slider-area {
    clear: both
}

.slider-area, .promo-area, .brands-area, .maincontent-area, .footer-top-area, .product-widget-area, .product-breadcroumb-area, .single-product-area {
    position: relative;
    overflow: hidden
}

.zigzag-bottom {
}

.slide-text-wrapper {
    height: 700px;
}

.slide-text-wrapper {
    display: table;
    width: 100%;
}

.slide-text {
    display: table-cell;
    vertical-align: middle
}

.zigzag-bottom {
    background: none repeat scroll 0 0 #1abc9c;
    bottom: -80px;
    height: 150px;
    left: -5%;
    position: absolute;
    transform: rotate(3deg);
    width: 108%;
}

.slide-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-position: center;
    background-size: cover
}

.slide-bg:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.slide-one {
    background-image: url(../img/slide-one.jpg)
}

.slide-two {
    background-image: url(../img/slide-one.jpg)
}

.slide-three {
    background-image: url(../img/slide-one.jpg)
}

.slide-text {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;
}

.slide-text h2 {
    font-size: 45px;
    font-weight: 200
}

.slide-content {
    position: relative;
    padding: 30px
}

.slide-content:before {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.readmore {
    background: none repeat scroll 0 0 #1abc9c;
    color: #fff;
    border: 1px solid #1abc9c;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
}

.readmore:hover {
    background: #222;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff
}
.product-upper img{
    width:100%;
    margin: 0 auto;
}
.promo-area {
    background: #1abc9c;
    color: #fff;
    padding: 50px 50px;
    margin-bottom: 50px;
}
.video_module{
    width: 100%;
    height: 100%;
    background: #1abc9c;
    padding-bottom: 50px;
}
.video_module h2{
    color: #FFFFFF;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlyot supported by any browser */
}
.video_module .container{

    padding: 20px 0;
}
.brands-area {
    background: none repeat scroll 0 0 #1abc9c;
    color: #fff;
    padding: 0px 0 200px;
}

.promo-area .zigzag-bottom, .brands-area .zigzag-bottom {
    background: #fff
}

.single-promo {
    border: 1px solid #17a78b;
    font-size: 20px;
    font-weight: 200;
    padding: 20px 20px;
    text-align: center;
}

.single-promo i {
    font-size: 50px;
}

.single-promo:hover {
    color: #fff;
    background: #222;
    border-color: #222
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
}

.product-f-image {
    position: relative;
}

.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}

.product-hover:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: -100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .4s;
}

.product-hover a {
    background: none repeat scroll 0 0 #1abc9c;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #1abc9c;
    width: 80%;
    z-index: 99;
    transition: .4s;
}

.product-hover a:hover {
    background: #000;
    text-decoration: none;
    border-color: #444;
}

.product-carousel-price ins {
    color: #1abc9c;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
}

.product-hover a i.fa {
    margin-right: 5px;
}

.product-hover a.add-to-cart-link {
    top: -25%;
}

.product-hover a.view-details-link {
    bottom: -25%;
}

.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.single-product h2 a {
    color: #222;
}

.single-product p {
    color: #1abc9c;
    font-weight: 700;
}

.single-product {
    overflow: hidden;
}

.single-product:hover {
}

.single-product:hover .product-hover a.add-to-cart-link {
    top: 32%;
}

.single-product:hover .product-hover a.view-details-link {
    bottom: 40%;
}

.single-product:hover .product-hover:after {
    left: 0
}

.product-carousel {
    padding-top: 40px;
}

.latest-product .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.latest-product .owl-nav div, .related-products-wrapper .owl-nav div {
    border: 1px solid #1abc9c;
    color: #1abc9c;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}

.latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {
    color: #222;
    border-color: #222
}

.brand-list {
    padding-top: 40px;
}

.brand-list .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
}

.brand-wrapper .owl-nav div {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}

.maincontent-area {
    padding-bottom: 170px
}

.product-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
}

.single-wid-product {
    margin-bottom: 31px;
    overflow: hidden;
}

.product-thumb {
    float: left;
    height: 90px;
    margin-right: 15px;
    width: 100px;
}

.single-wid-product h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.product-wid-rating {
    color: #ffc808;
    margin-bottom: 10px;
}

.product-wid-price ins {
    color: #1abc9c;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.single-wid-product h2 a {
    color: #222;
}

.single-wid-product h2 a:hover, .single-product h2 a:hover {
    color: #1ABC9C;
}

.wid-view-more {
    background: none repeat scroll 0 0 #1abc9c;
    color: #fff;
    padding: 3px 15px;
    position: absolute;
    right: 10px;
    top: 3px;
}

.wid-view-more:hover {
    color: #fff;
    background-color: #222;
    text-decoration: none
}

.single-product-widget {
    position: relative;
}

.product-widget-area {
    padding-bottom: 150px;
    padding-top: 30px;
}

.product-widget-area .zigzag-bottom {
    background: #333
}

.footer-top-area .zigzag-bottom {
    background: #000
}

.footer-top-area {
    background: none repeat scroll 0 0 #333;
    color: #999;
    padding: 50px 0 180px;
}

.footer-bottom-area {
    background: #000;
    color: #fff
}

.footer-about-us span {
    color: #1abc9c;
}

.footer-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    color: #fff
}

.footer-about-us h2 {
    font-weight: 200;
}

.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}

.footer-menu a {
    display: block;
    padding: 5px 0;
    color: #999
}

.footer-social a {
    background: none repeat scroll 0 0 #1abc9c;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    width: 40px;
    border: 1px solid #1abc9c;
}

.footer-social a:hover {
    background-color: #222;
    border-color: #666
}

.footer-social {
    margin-top: 20px
}

.newsletter-form input[type="email"] {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.newsletter-form input[type="submit"] {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 7px 20px;
    text-transform: uppercase;
    border: 1px solid #1abc9c;
}

.newsletter-form input[type="submit"]:hover {
    background: #222;
    border-color: #666
}

.newsletter-form {
    margin-top: 25px;
}

a {
    color: #1abc9c
}

a:hover, a:focus {
    color: #17a78b
}

.footer-bottom-area {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding-bottom: 40px;
}

.slide-bulletz {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

ol.slide-indicators {
    left: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

ol.slide-indicators li {
    background: none repeat scroll 0 0 #222;
    border: medium none;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 0 0 5px;
    width: 10px;
}

ol.slide-indicators li.active {
    background: none repeat scroll 0 0 black;
    height: 10px;
    margin: 0 0 0 5px;
    width: 10px;
}

.carousel.carousel-fade .item {
    transition: opacity 1s ease-in-out
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.footer-card-icon {
    font-size: 30px;
    text-align: right;
}

.copyright > p {
    margin: 10px 0 0;
}

.product-big-title-area {
    padding: 30px 0;
    margin-top: 60px;
    background: url(../img/crossword.png) repeat scroll 0 0 #1ABC9C
}

.product-bit-title h2 {
    font-family: raleway;
    font-size: 48px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;
    color: #fff;
}

.single-product-area .zigzag-bottom {
    background-color: #333333
}

.single-product-area {
    padding: 80px 0 130px;
}

.sidebar-title {
    color: #3dc6ab;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.single-sidebar {
    margin-bottom: 50px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #ddd;
    padding: 10px;
}

input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}

input[type="submit"]:hover, button[type=submit]:hover {
    background-color: #222
}

.single-sidebar input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}

.thubmnail-recent {
    margin-bottom: 30px;
    overflow: hidden;
}

.recent-thumb {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}

.thubmnail-recent > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.thubmnail-recent > h2 a {
    color: #222;
}

.product-sidebar-price > ins {
    color: #1abc9c;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.single-sidebar > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.single-sidebar li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}

.single-sidebar a {
    display: block;
}

.product-breadcroumb {
    margin-bottom: 20px;
}

.product-breadcroumb > a {
    margin-right: 31px;
    position: relative;
}

.product-breadcroumb > a::before {
    content: "/";
    position: absolute;
    right: -20px;
    top: 2px;
}

.product-breadcroumb > a:last-child::before {
    display: none;
}

.product-main-img {
    margin-bottom: 20px;
}

.product-gallery {
    margin-bottom: 25px;
    margin-left: -15px;
    overflow: hidden;
}

.product-gallery img {
    height: auto;
    margin-left: 15px;
    width: 76px;
}

.product-name {
    font-size: 25px;
    margin-bottom: 20px;
}

.product-inner-price {
    margin-bottom: 25px;
}

.product-inner-price > ins {
    color: #1abc9c;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.quantity {
    float: left;
    margin-right: 15px;
}

.quantity input[type="number"] {
    border: 1px solid #1abc9c;
    padding: 5px;
    width: 50px;
}

.add_to_cart_button {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    padding: 6px 25px;
    display: inline-block
}

.add_to_cart_button:hover {
    background-color: #222;
    color: #fff;
    text-decoration: none
}

form.cart {
    margin-bottom: 25px;
}

.product-inner-category {
    margin-bottom: 30px;
}

.product-tab {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    /*text-align: center;*/
}

.product-tab li {
    display: inline-block;
}

.product-tab li.active {
    background: none repeat scroll 0 0 #1abc9c;
}

.product-tab li.active a {
    color: #fff;
}

.product-tab li a {
    color: #222;
    display: block;
    font-size: 16px;
    padding: 10px 65px;
}

.product-tab li a:hover {
    text-decoration: none;
}

.product-tab li a:focus {
    text-decoration: none;
}

.tab-content h2 {
    font-size: 20px;
}

.tab-content {
    margin-bottom: 30px;
}

.submit-review label {
    display: block;
}

.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    margin-bottom: 20px;
    width: 100%;
}

.rating-chooser {
    margin-bottom: 30px;
}

.rating-chooser p {
    font-weight: 700;
}

.rating-wrap-post {
    font-size: 20px;
}

.submit-review textarea {
    height: 105px;
}

.related-products-wrapper {
    margin-top: 30px;
}

.related-products-title {
    color: #3dc6ab;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.related-products-wrapper .owl-nav {
    position: absolute;
    right: 0;
    top: -56px;
}

table.shop_table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
}

table.shop_table th, table.shop_table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

table.shop_table th {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 15px;
    text-transform: uppercase;
}

td.product-thumbnail img {
    height: auto;
    width: 70px;
}

td.product-name {
    font-size: 18px;
}

div.quantity input.plus, div.quantity input.minus {
    background: none repeat scroll 0 0 #1abc9c;
    border: medium none;
    color: #fff;
    height: 25px;
    line-height: 15px;
    width: 25px;
}

td.product-quantity div.quantity {
    float: none;
    margin: 0;
}

td.actions div.coupon {
    float: left;
}

.cart-collaterals {
    overflow: hidden;
}

.cross-sells {
    float: left;
    margin-right: 3%;
    width: 57%;
}

.cart_totals {
    float: right;
    margin-bottom: 50px;
    width: 40%;
}

.cart-collaterals h2 {
    color: #1abc9c;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

div.cart-collaterals ul.products {
    list-style: outside none none;
    margin: 0 0 0 -30px;
    padding: 0;
}

div.cart-collaterals ul.products li.product {
    float: left;
    margin-left: 30px;
    position: relative;
    width: 198px;
}

.cart_totals table {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}

.cart_totals table th, .cart_totals table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.cart_totals table th {
    background: none repeat scroll 0 0 #f4f4f4;
}

.onsale {
}

div.cart-collaterals ul.products li.product .onsale {
    background: none repeat scroll 0 0 #1abc9c;
    color: #fff;
    padding: 5px 10px;
    position: absolute;
    right: 0;
}

div.cart-collaterals ul.products li.product h3 {
    color: #333;
    font-size: 20px;
    margin-top: 15px;
}

div.cart-collaterals ul.products li.product .price {
    color: #333;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}

.price > ins {
}

div.cart-collaterals ul.products li.product .price ins {
    color: #1abc9c;
    font-weight: 700;
    margin-left: 10px;
    text-decoration: none;
}

.woocommerce-info {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}

.col2-set {
    margin-left: -30px;
    overflow: hidden;
}

.col-1, .col-2 {
    float: left;
    margin-left: 30px;
    width: 360px;
}

#customer_details label {
    display: block;
    margin: 0 0 5px;
}

#customer_details input[type="text"], #customer_details textarea, .shipping_calculator input[type=text] {
    margin-bottom: 10px;
    width: 100%;
}

#customer_details h3 {
    color: #1abc9c;
    font-size: 20px;
    text-transform: uppercase;
}

.create-account {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 50px;
    padding: 15px;
}

#order_review_heading {
    color: #1abc9c;
    font-size: 20px;
    text-transform: uppercase;
}

#payment ul.payment_methods {
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
}

#payment ul.payment_methods li {
    margin-bottom: 15px;
}

a.about_paypal {
    font-size: 12px;
    margin-left: 15px;
}

#customer_details select, .shipping_calculator select {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

table.shop_table td.product-remove a {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
}

table.shop_table td.product-remove a:hover {
    color: #fff;
    text-decoration: none
}

table.shop_table td.product-name a {
    color: #222;
}

table.shop_table td.product-name a:hover {
    color: #1ABC9C;
    text-decoration: none
}

div.quantity input.plus:hover, div.quantity input.minus:hover {
    background-color: #222
}

div.cart-collaterals ul.products li.product a:hover h3 {
    color: #1ABC9C
}

div.cart-collaterals ul.products li.product a:hover {
    text-decoration: none
}

div.cart-collaterals ul.products li.product:hover .add_to_cart_button {
    background-color: #222
}

.cart-collaterals .shipping_calculator {
    float: right;
    width: 40%;
}

#login-form-wrap, #coupon-collapse-wrap {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 30px;
    padding: 25px;
}

#login-form-wrap label {
    display: block;
    margin-bottom: 5px;
}

#login-form-wrap input[type="text"], #login-form-wrap input[type="password"] {
    margin-bottom: 10px;
    width: 250px;
}

#login-form-wrap input[type="submit"] {
    margin-bottom: 15px;
}

.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product-option-shop {
    margin-top: 15px;
}

.single-shop-product {
    margin-bottom: 50px
}

.pagination > li > a, .pagination > li > span {
    color: #1abc9c;
}

.footer-newsletter a {
    color: #999;
}

.footer-newsletter a:hover {
    color: #17a78b;
}

.play {
    display: block;
}

.videoBlack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 3;
    display: none;
}

.videoBox {
    position: fixed;
    left: 50%;
    margin-left: -500px;
    top: 50%;
    margin-top: -285px;
    width: 1000px;
    height: 570px;
    z-index: 4;
    /*background: red;*/
}

.backgroundImage {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/playVideo.png) no-repeat center;
    background-size: 40px 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.PlayBig {
    background: url("../img/play1.png") no-repeat center;
    background-size: 40px 40px;
}

.liss ul {
    width: 104px;
    text-align: center;
    padding: 0;
}

.liss ul li {
    width: 104px;
    text-align: center;
    line-height: 60px;
    color: black !important;
    background: #1abc9c;
    padding: 0;
}
@media (max-width:768px) {
    .spans{
        display: none;
    }
    .videoBox {
        position: fixed;
        left: 50%;
        margin-left: -350px;
        top: 50%;
        margin-top: -200px;
        width: 700px;
        height: 400px;
        z-index: 4;
        /*background: red;*/
    }
    .liss ul {
        width: 100% !important;
        text-align: center;
        padding: 0;
    }
    .liss ul li {
        width: 100%;
        text-align: center;
        line-height: 60px;
        color: black !important;
        background: #1abc9c;
        padding: 0;
    }
}
.liss ul li:hover {
    width: 100%;
    text-align: center;
    line-height: 60px;
    padding: 0;
    background: none;
    overflow: hidden;
}

.liss ul li a {
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
}

/*information页面css样式开始*/
.cross-box {
    width: 100%;
    height: 200px;
    background: url("../img/crossword.png") 0 0 #1ABC9C;
    margin-top: 60px;
    text-align: center;
    line-height: 200px;
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 100;
}

.container-fluid {
    width: 100%;
    height: auto;
    /*background: pink;*/
}

.container-fluid .container {
    padding: 50px 0;
    width: 65%;
}

.container-fluid .container .row {
    width: 100%;
    /*border: 1px solid blue;*/
    padding: 0 20px;
}

.container-fluid .container .row .imgBox img {
    width: 100%;
    height: 100%;
    margin-top: 70px;
    margin-left: 0px;
}

.container-fluid .container .row h3 {
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.container-fluid .container .row p {
    width: 100%;
    line-height: 1.5em;
    font-size: 1em;
}

.advantage {
    width: 100%;
    height: auto;
    background: #ddd;
}

.advantage .container {
    padding: 30px 0;
}

.advantage .container h3 {
    text-align: center;
    line-height: 50px;
}

.advantage .container .row {
    padding: 50px 0;
}

.advantage .container .advanBox {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    background: #1ABC9C;
    transform: rotate(45deg);
    border-radius: 10px;
    padding: 20px;
}

.advantage .container .advanBox.b2 {
    background: #FDC668;
}

.advantage .container .advanBox.b3 {
    background: #FF6D6A;
}

.advantage .container .advanBox.b4 {
    background: #00A5FB;
}

.advantage .container .advanBox img {
    width: 40%;
    height: 40%;
    transform: rotate(-45deg);
}

.advantage .container .advanBox span {
    display: inline-block;
    width: 100%;
    transform: rotate(-45deg);
    font-size: 1.4rem;
    color: #FFFFFF;
    letter-spacing: 0.55em;
    line-height: 30px;
    text-align: center;
    margin-left: 15px;
}

.history .container .col-md-3 img {
    width: 100%;
    height: 100%;
}

.history .container .row .col-md-9 p {
    font-size: .9em;
    margin-bottom: 30px;
}

.history .container .row .col-md-9 span {
    line-height: 28px;
    font-size: 1em;
}

.history .container {
    padding: 50px 0;
}

.history .container h3 {
    text-align: center;
    margin-bottom: 30px;
}

.map {
    margin-bottom: 50px;
}

.map .container .col-md-3 img {
    width: 100%;
    height: 100%;
}

.map .container .col-md-3 span {
    display: inline-block;
    width: 100%;
    line-height: 50px;
    background: #1ABC9C;
    color: #FFFFFF;
    font-size: 1.2em;
    text-align: center;
}

.map .container .privace ul {
    margin-top: 20px;
    padding: 0;
}

.map .container .privace ul li {
    list-style: none;
    line-height: 30px;
    text-align: center;

}

.map .container .privace ul li:hover {
    background: #1ABC9C;
    cursor: pointer;
}

.link {
    padding-bottom: 20px;
}

.link .container .title_box {
    width: 100%;
    height: 52px;
    background: url("../img/tittle_bg.png") no-repeat left;
    line-height: 52px;
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    padding-left: 15px;
}

.link .container span {
    width: 100%;
    height: 1px;
    display: inline-block;
    background: #1ABC9C;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
}

.link .container .row .col-md-3 {
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

.link .container .row .col-md-3 a {
    color: black;
}

.link .container .row .col-md-3 a:hover {
    color: #1ABC9C;
}

/*联系我们页面*/
.contact {
    margin-bottom: 20px;
}

.contact .container .col-md-10 {
    margin-left: -100px;
}

.contact .container .contact_title {
    display: inline-block;
    color: #000000;
    font-size: 24px;
    text-align: left;
    height: 50px;
    line-height: 50px;
    width: 100%;
    border-bottom: 1px solid #555;
    margin: 30px 0;
}

.contact .container .row {
    font-size: 15px;
    margin-bottom: 20px;

}

.contact .container .row span {
    color: #1ABC9C;
}

.contact .container .col-md-10 div {
    margin-bottom: 10px;
}

.contact .container .col-md-10 img {
    width: 20px;
    height: 20px;
}

.map span {
    display: block;
    font-size: 14px;
    line-height: 30px;
}

.map .address {
    font-size: 20px;
    color: #1ABC9C;
}

.map .address-b {
    margin-bottom: 10px;
}

/*诚聘英才页面*/
.recruit_box .container .col-md-6 {
    padding: 15px 10px;
    height: 120px;
    background: #f5f5f5;
    border-right: 30px solid white;
    margin: 20px 0px;
}

.recruit_box .container .col-md-6 a {
    color: #FFFFFF;
}

.recruit_box .container .col-md-6 div {
    color: #838383;
    font-size: 14px;
    line-height: 24px
}

.recruit_box .container .col-md-6 div span {
    color: #f99d32;
    padding-right: 14px
}

.recruit_box .container .col-md-6 .xiangqing {
    width: 90px;
    height: 26px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #949494;
    line-height: 26px;
    margin-top: 15px;
}

.recruit_box .container .col-md-6 .xiangqing:hover {
    color: #fff;
    background: #1ABC9C;
    cursor: pointer;
}

.recruit_sec_box {
    padding-top: 50px;
    margin-top: 60px;
}

.recruit_sec_box img {
    border: 1px solid #2f3238;
}

.recruit_sec_box .container {
    margin-bottom: 30px;
}

.recruit_sec_box .container .col-md-9 {
    padding-left: 80px;
}

.recruit_sec_box .container .col-md-9 h3 {
    color: #1ABC9C;
    font-size: 26px;
}

.recruit_sec_box .container .col-md-9 div {
    line-height: 40px;
}

.recruit_sec_box .container .col-md-9 .fenge {
    width: 100%;
    border: 1px dashed #ccc;
    margin: 20px 0;
}

.recruit_sec_box .container .col-md-9 p {
    line-height: 20px;
    font-size: 15px;
}

.recruit_sec_box .container .col-md-9 .gangwei, .recruit_sec_box .container .col-md-9 .renzhi {
    color: #1abc9c;
    font-size: 16px;
    margin: 20px 0;
    display: inline-block;
}

.recruit_sec_box .container .col-md-3 h4 {
    line-height: 20px;
    margin: 10px 0;
    font-weight: 500;
    font-size: 18px;
}

.recruit_sec_box .container .col-md-3 p {
    font-size: 14px;
    line-height: 24px;
}

.recruit_sec_box .container .col-md-3 .address_box, .recruit_sec_box .container .col-md-3 .phone_box {
    font-size: 14px;
    margin-top: 30px;
    line-height: 30px;
}

.recruit_sec_box .container .col-md-3 .phone_box {
    margin: 0;
}

/*news页面*/
.news {
    width: 65%;
    /*background: palegoldenrod;*/
    margin: 0 auto;
    padding: 30px 50px;
}

.news h3 {
    font-weight: 500;
    font-size: 30px;
    color: #1abc9c;
    line-height: 60px;
    border-bottom: 1px dotted #dbd4cd
}

.news ul {
    padding: 0;
}

.news ul li {
    text-align: left;
    margin: 0;
    width: 100%;
    border-bottom: 1px dotted #dbd4cd
}

.news ul li span {
    display: block;
}

.news ul li .row {
    margin-top: 15px;
}

.news ul li .row .col1 {
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;
    float: left;
}

.news ul li .row .col2 {
    margin-left: 15px !important;
}

.news ul li .row .col1 .day {
    width: 60px;
    background-color: #eae6e2;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #fff;
    color: #000;
    font-size: 30px;
}

.news ul li .row .col1 .date {
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    width: 60px;
    background-color: #eae6e2;
    color: #000;
}

.news ul li .row .col2 h4 {
    margin: 0;
    margin-left: 0;
}

.news ul li .row .col2 h4 a {
    text-align: left;
    color: #333;
    font-size: 14px;
    line-height: 24px;
}

.news ul li .row .col2 h4 a:hover {
    color: #1abc9c;
}

.news ul li .row .col2 p {
    margin-top: 10px;
    text-align: left;
    color: #333;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

.news_sec {
    background: #fff;
    padding: 30px 0px 150px;
    position: relative;
}

.news_sec .xiangqing {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px dashed #dbd4cd;
}

.news_sec .pager {
    padding: 20px 20px;
}

.news_sec .time {
    color: #1abc9c;
}

.news_sec .time_data {
    color: #333;
}

.news_sec .origin_data {
    color: #333;
}

.news_sec .origin {
    margin-left: 20px;
    color: #1abc9c;
}

.news_sec .img_box {
    display: inline-block;
    padding: 0 20px;
    width: 100%;
    /*background: yellow;*/
    text-align: center;
}

.news_sec h2 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    line-height: 80px;
    color: #6c5a54;
    line-height: 50px;

    border-bottom: 1px dashed #dbd4cd;
}

.news_sec div {
    line-height: 35px;
    color: #333;
    font-size: 14px;
    text-align: center;
    float: left;
}

.news_sec p {
    font-size: 15px;
    text-align: left;
    display: block;
    line-height: 30px;
    margin-bottom: 10px;
}

.notice_rolling {
    width: 100%;
    height: 50px;
    background: pink;
    line-height: 50px;
    padding: 0 20px;
}

.notice_rolling span {
    margin-left: 50px;
}

ul, li {
    margin: 0;
    padding: 0
}

#scrollDiv {
    width: 100%;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    margin: 0 auto;
    background: #f5f5f5;
}

#scrollDiv li {
    font-size: 14px;
    height: 25px;
    padding-left: 10px;
}

/*首页广告位开始*/
.Advertisement {
    width: 150px;
    height: 200px;
    background: blue;
    line-height: 200px;
    position: fixed;
    /*left: 0px;*/
    /*top: 15%;*/
    text-align: center;
    /*color: #FFFFFF;*/
    cursor: pointer;
    display: none;
    z-index: 222;
}
.Advertisement .close{
    width: 20px;
    height: 20px;
    background: url("../img/closes.png") no-repeat center ;
    background-size: 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1!important;
}
.advertise ul li:nth-child(1){
    position: fixed;
    left: 0px;
    top: 15%;
}
.advertise ul li:nth-child(2){
    position: fixed;
    left: 0px;
    top: 40%;
}
.advertise ul li:nth-child(3){
    width: 150px;
    height: 200px;
    background: blue;
    line-height: 200px;
    position: fixed;
    left: 0px;
    top: 65%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
/*.a2{*/
    /*width: 150px;*/
    /*height: 200px;*/
    /*background: blue;*/
    /*line-height: 200px;*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 40%;*/
    /*text-align: center;*/
    /*color: #FFFFFF;*/
    /*cursor: pointer;*/
/*}*/
/*.a3{*/
    /*width: 150px;*/
    /*height: 200px;*/
    /*background: blue;*/
    /*line-height: 200px;*/
    /*position: fixed;*/
    /*left: 0px;*/
    /*top: 65%;*/
    /*text-align: center;*/
    /*color: #FFFFFF;*/
    /*cursor: pointer;*/
/*}*/
.Advertisement a {
    display: inline-block;
    border: 1px solid #1abc9c;
}

/*knowledge页*/
.knowledge_box {
    width: 100%;
    height: 100%;
}

.knowledge_box .container {
    padding: 30px 0 80px 0;
    background: #f5f5f5;
}

.knowledge_box .container .col-md-2 {
    margin: 0;
    padding: 0;
}

.knowledge_box .container .col-md-2 h3 {
    text-align: center;
    color: #1abc9c;
    font-size: 22px;
    line-height: 30px;
}

.knowledge_box .container .col-md-2 ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 50px;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
}

.knowledge_box .container .col-md-2 ul li:hover {
    background: #1abc9c;
    color: #FFFFFF;
}

.selected {
    background: #1abc9c;
    color: #FFFFFF;
    box-shadow: 0 0 1px 0px #FFF;
}

.knowledge_box .container .col-md-10 {
    padding-top: 20px;
}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 {
    margin-top: 25px;

}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box {
    padding: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box a {
    display: inline-block;
    line-height: 80px;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 14px;
    transition: .3s;
}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box a:hover {
    color: #1abc9c;
    font-size: 16px;
}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box .img_box {
    width: 100%;
    /*height: 50%;*/
    overflow: hidden;
    position: relative;
}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box .img_box span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    transition: .5s;
}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box .img_box span a {
    display: inline-block;
    color: #FFFFFF;
    font-size: 18px;
    margin:0 auto;
    line-height:250px;

}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box .img_box span a:hover {
    color: #1abc9c;
}

.shanghua {
    top: 100%;
}
.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box :hover .shanghua {
    top: 0;
}

.knowledge_box .container .col-md-10 .knowledges .col-md-3 .knowledges_box .img_box img {
    display: block;
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

.fydiv {
    width: 320px;
    text-align: center;
    height: 30px;
    margin: 0 auto;
    margin-top: 80px;
}

.fenye {
    text-align: center;
    height: 30px;
    margin: 0 auto;
}

.fenye li {
    float: left;
    border: 1px solid #6CBFB7!important;
    height: 26px;
    line-height: 26px;
    margin-right: 10px!important;
}

.fenye li:hover {
    background-color: #f1f1f1;
}

.fenye li a {
    text-decoration: none;
    color: #6CBFB7;
    display: block;
    text-align: center;
}

.prev {
    width: 66px !important;
}

.next {
    width: 66px !important;
}

.numb {
    width: 26px !important;
}

.choose {
    border: 1px solid #357973 !important;
}

.choose a {
    color: #357973 !important;
}

/*首页广告位结束*/
@media (max-width: 1280px) {
    .advantage .container .advanBox {
        margin: 0 auto;
        width: 150px;
        height: 150px;
        background: pink;
        transform: rotate(45deg);
        border-radius: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {

    .recruit_sec_box .container .col-md-9 {
        padding-top: 0;
    }

    .map .container .privace ul li {
        width: 50%;
        display: inline-block;
        float: left;
    }

    .container-fluid .container .row p {
        width: 100%;
        line-height: 1.2em;
        font-size: .9em;
    }

    .col-md-3 {
        width: 50%;
        margin: 40px 0;
    }

    .advantage .container .row {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .news {
        width: 100%;
    }

    .news ul li .row .col2 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .product-big-title-area {
        margin-top: 0px;
    }

    .recruit_sec_box {
        padding-top: 0px;
    }

    .recruit_sec_box .container .col-md-9 {
        padding-left: 0px;
    }

    .contact .container .col-md-10 {
        margin-left: 0;
    } {
    font-size: 20px;
    color: #1ABC9C;
}
    .link .container .row .col-md-3 {
        margin-bottom: 0px;
    }

    .advantage .container .advanBox span {
        font-size: 16px;
    }

    .container-fluid .container {
        width: 80%;
    }

    .cross-box {
        height: 100px;
        text-align: center;
        line-height: 100px;
        font-size: 26px;
        font-weight: 400;
    }

    .map .container .privace ul li {
        width: 25%;
        display: inline-block;
        float: left;
        margin-bottom: 0;
    }

    .container-fluid {
        margin-top: 0;
    }

    .container-fluid .container .row p {
        width: 100%;
        line-height: 1.5em;
        font-size: .8em;
    }

    .col-md-3 {
        margin-bottom: 60px;
    }
}

@media (max-width: 414px) {
    .videoBox {
        position: fixed;
        left: 50%;
        margin-left: -210px;
        top: 50%;
        margin-top: -150px;
        width: 400px;
        height: 300px;
        z-index: 4;
        /*background: red;*/
    }
    .news_sec {
        padding: 30px 0px 50px;
    }

    .news_sec img {
        width: 100%;
        padding: 0 10px;
    }

    .news_sec p {
        font-size: 14px;
    }

    .news_sec .pager {
        padding: 0 20px;
    }

    .news_sec h2 {
        padding: 0 5px;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }

    .news_sec p {
        line-height: 24px;
    }

    .news_sec .origin {
        margin-left: 10px;
        line-height: 20px;
    }

    .news_sec .time {
        margin-left: 10px;
        line-height: 20px;
    }

    .recruit_sec_box {
        padding-left: 0px;
    }

    .recruit_sec_box .container .col-md-9 {
        padding-left: 0px;
    }

    .cross-box {
        margin-top: 0;
    }

    .container-fluid .container {
        width: 100%;
        padding: 0;
    }
}
.backgroundColor{
    color: #FFFFFF!important;
    background: #222!important;

}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    height: 800px;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.zhe{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
}
.spans{
    position: absolute;
    top: 50%;
    margin-top: -160px;
    right: 300px;
    width: 555px;
    height: 325px;
    background: rgba(0,0,0,0.6);
    color: rgba(255,255,255,1);
    padding: 20px;
}
.spans h3{
    text-align: left;
    font-size: 34px;
    font-weight: 400;
}
.spans p{
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.spans span{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    border: 1px solid transparent;
    -webkit-transition: all .5s ease-in 0s;
    -moz-transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    transition: all .5s ease-in 0s;
    background: #1abc9c;
    padding: 10px;
    text-align: left!important;
    margin-top: 20px;
}
